body {
	margin: 0px;
	background: #454545;
	line-height: 1.7;/* 行高 */
}

a {
	text-decoration: none;/*文字装饰：空  也就是去掉链接标签<a>的下划线*/
}

a, body {
	color: #EEE;
}

.side-bar {
	float: left;
	width: 20%;
	position: fixed;/* 位置：固定 */
}

.side-bar > * {
	padding: 10px 20px;
}

.side-bar .nav a,
.side-bar .tag-list a {
	display: block;
	padding: 8px;
	color: #888;
}

.side-bar .nav a {
	font-weight: 700;
}

/* 伪类选择器：hover 当鼠标悬停在此处时的样式 */
.side-bar .nav a:hover,
.side-bar .tag-list a:hover,
.article-list .item .title:hover {
	color: #EEE;
}

.main {
	float: right;
	width: 80%;
	color: #454545;
}

.header .logo {
	line-height: 1;
	border: 5px solid #EEE;
	padding: 10px 20px;
	font-size: 30px;
	display: inline-block;/* 显示：行-块 */
	margin-bottom: 10px;
}

.article-list .item {
	margin-bottom: 25px;
}

.article-list, .article {
	margin-right: 30%;
	background-color: #FFF;
	padding: 20px 30px;
}

.article-list .item .title,
.article .title {
	color: #454545;
	font-size: 22px;
	font-weight: 700;
}

.article-list .item .status,
.article .status {
	font-size: 13px;
	color: #CCC;
}

.article-list .item > *,
.article > * {
		margin: 10px 0px;
}

.article .content{
	font-weight: 600;
}