html,
body {
    margin: 0;
    padding: 0;
    background-color: #4cb4e7;
}

#wrap {
    width: 500px;
    height: 300px;
    background-color: #ffc09f;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    border-bottom-left-radius: 100px;
    box-shadow: 10px 10px 5px #888888;
}

#wrap .content {
    padding: 20px;
    font-weight: bold;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}