* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 438px;
    margin: 50px auto;
    background-color: #368;
}

.head {
	width: 100%;
	height: 45px;
	background-color: #368;
	line-height: 45px;
}

.head h1 {
	display: inline-block;
}

.head span {
	float: right;
	/* border: 1px solid #f00; */
	margin-right: 50%;
	/* margin-top: 2px; */
	color: #f00;
	font-size: 30px;
	font-weight: bold;
}

.main {
    width: 438px;
    height: 462px;
    background: url(../images/emptyhole.jpg);
    position: relative;
}

.console {
    width: 100%;
    height: 45px;
    text-align: center;
}

.console button {
    background: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(red, blue); /* 标准的语法 */
    line-height: 35px;
    width: 100px;
    margin: 5px;
    border-radius: 20px;
    border: 0;
    color: white;
    font-size: 20px;
}

.console button:hover {
	background: -webkit-linear-gradient(blue, red); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(blue, red); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(blue, red); /* Firefox 3.6 - 15 */
    background: linear-gradient(blue, red); /* 标准的语法 */
}